{% extends 'tarefas/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h5>Entrar</h5>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="mb-3">
        <label class="form-label">Usuário</label>
        {{ form.username }}
      </div>
      <div class="mb-3">
        <label class="form-label">Senha</label>
        {{ form.password }}
      </div>
      <button class="btn btn-primary">Entrar</button>
      <a href="{% url 'register' %}" class="btn btn-link">Criar conta</a>
    </form>
  </div>
</div>
{% endblock %}